{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-unused-vars": "off", //不检测未定义的变量
    "@typescript-eslint/no-unused-vars" : 0, //ts中不检测未定义的变量
    "@typescript-eslint/no-empty-function":0,//ts中不检测未定义的函数
    "@typescript-eslint/no-var-requires": 0,
    "template-curly-spacing": "off",
    "array-bracket-spacing": "off",
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 1
      }
    ]
  }
}